@model IEnumerable<TheMovieDB.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMDB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                <td>
                    @if (item.ActorImage != null && item.ActorImage.Length!=0)
                    {
                        <img height="150" src="@Url.Action("GetActorPhoto", "Actors", new {item.Id})" />
                    }
                </td>
            <td>
                    @if (User.IsInRole(Constants.AdministratorsRole) || User.IsInRole(Constants.ManagersRole))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <span> | </span>
                    }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
