@model TheMovieDB.Models.MovieDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.IMDB)
        </dt>
        <dd class="col-sm-10">
           <a href="@Html.DisplayFor(model => model.movie.IMDB)" target="_blank">IMDB Link</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movie.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movie.Poster)
        </dt>
        <dd class="col-sm-10">
            @if (Model.movie.Poster != null && Model.movie.Poster.Length != 0)
            {
                <img height="100" src="@Url.Action("GetMoviePoster", "Movie", new {Model.movie.Id})" />
            }
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Actor Name
            </th>
            <th>
                Actor Photo
            </th>
            <th>
                Actor Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.ActorImage != null && item.ActorImage.Length != 0)
                    {
                        <img height="50" src="@Url.Action("GetActorPhoto", "Actors", new {item.Id})" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
